html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.about-rest-main {
    background-color: #FFFDEE;
}

.about-rest-main-container {
    border: red 1px solid;
    position: relative;
    margin: 0 auto;
    max-height: 1275px;
    max-width: 1140px;
    padding: 16px 15px 20px;
}

.about-rest-main-pre-title {
    font-family: 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
    color: #B4B4B4;
}

.about-rest-main-title {
    text-decoration: none;
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0.3em;
    color: #494848;
}

.about-rest-main-post-title {
    max-width: 258px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #7A7A7A;
}

.about-rest-main-img-first-wrap {
    z-index: 1;
    width: fit-content;
    position: relative;
    left: 140px;
    margin-bottom: 32px;
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.about-rest-main-thumb {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 32px;
}

.about-rest-main-img-second-wrap {
    width: fit-content;
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.about-rest-main-text {
    max-width: 163px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #C79002;
}

/* SLIDER'S SETTING */

.swiper .about-rest-main-swiper {
    width: 100%;
    height: 100%; 
}

.swiper-slide .about-rest-main-slide, .swiper-slide{
    width: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.about-rest-main-slide img {
    display: block;
    width: 245px;
    height: 245px;
    object-fit: cover;
}

/*.swiper-slide .swiper-slide-next {
    opacity: 0;
}

.about-rest-main-slide-wrap {
    width: 100%;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px; 
} */

.about-rest-main-btn-wrap {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 32px;
}

.about-rest-main-btn-next,
.about-rest-main-btn-prev {
    position: static;
    text-align: center;
    width: 32px;
    height: 32px;
    margin-top: 20px;
    fill: #000000;
    opacity: 1;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-rest-main-btn-next.swiper-button-disabled, 
.about-rest-main-btn-prev.swiper-button-disabled {
    opacity: 0.35;
}

.about-rest-main-btn-next:active,
.about-rest-main-btn-prev:hover,
.about-rest-main-btn-next:hover,
.about-rest-main-btn-prev:active {
    fill : #F3C653;
}


/* MODAL */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.section {
    width: 1000px;
    height: 1100px;
    background-color: rgb(239, 159, 171);
}

/* .table-backdrope {
    z-index: 2;
    overflow: auto;

    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(46, 47, 66, 0.4);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.table-backdrope.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.table-backdrope.is-hidden .table-modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
}

.table-modal {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;

    background: #FFFDEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    opacity: 1;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.table-modal-icon-close {
    stroke: #000000;
} */